@import url("https://use.typekit.net/mbh6xeh.css");

.main-screen {
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    flex: 1;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    /* background-image: url("../../assets/city.jpeg"); */
    background-size: cover;
    font-family: din-condensed, Arial, Helvetica, sans-serif;
}

/* -------------------------------------------------------------------------------- */

.title-div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    height: 20vh;
    width: 80vw;
    padding: 0;
    margin: 0;
}

.title{
    color: white;
    font-size: 6rem;
    letter-spacing: 0.5rem;
    background-color: black;

}

.zombies-icon {
    background-image: url('../../assets/zombie-icon.png');
    background-size: cover;
    height: 80px;
    width: 80px;
    background-color: purple;
    margin-right: 20px;
}

.player-icon {
    background-image: url('../../assets/run.png');
    background-size: cover;
    height: 80px;
    width: 80px;
    background-color: purple;
    margin-left: 20px;
}

/* -------------------------------------------------------------------------------- */

.consent-div {
    width: 100%;
    height: 30vh;
    background-color: rgb(59, 59, 59);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.consent-title{
    color: white;
    font-size: 2em;
    letter-spacing: 0.2em;
    text-align: center;
    height: 3vh;
}

.consent-text {
    color: white;
    font-size: 1.1rem;
    text-align: center;
    word-wrap: break-word;
    width: 100%;
    margin: 0em;
    padding: 0em;
    transform: none;
    text-transform: none;
    
}

/* -------------------------------------------------------------------------------- */

.contact-div {
    width: 100%;
    height: 30vh;
    background-color: red;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.contact-div:hover{
    background-color: red;
    color: black;
}

.contact-text {
    color: white;
    font-size: 1.1rem;
    text-align: center;
    word-wrap: break-word;
    width: 100%;
    margin: 0em;
    padding: 0em;
    transform: none;
    text-transform: none;
}


/* -------------------------------------------------------------------------------- */

.button-div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    height: 2vh;
    width: 100%;
    padding: 0;
}

.start-button {
    font-family: 'Odibee Sans', cursive;  
    background-color: white;
    color: black;
    font-size: 30px;
    flex-wrap: wrap;
    width: 10em;
    height: 2em;
    font-weight: 600;
    letter-spacing: 0.3rem;
}

.start-button:hover {
    font-family: 'Odibee Sans', cursive;  
    background-color: red;
    color: black;
    font-size: 30px;
    flex-wrap: wrap;
    border-color: rgb(85, 3, 3);
    border-style: solid;
    border-width: 4px;
}