.crafting-screen {
    background-color: gray;
    padding: 3rem;
    border-style: solid;
    border-color: black;
    border-width: 8px;
    height: 100%;
}

.expressions-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%;
}

.crafting-instructions {
    background-color: black;
    width: 100%;
}

.instruction-line {
    font-size: 1.4em;  
    color: white;
    padding: 1rem;
    width: 100%
}

.compose {
    margin: 0 3rem 0 3rem;
    font-family: din-condensed, Arial, Helvetica, sans-serif;
    background-color: rgb(201, 29, 29);
    color: black;
    width: 12rem;
    height: 5rem;
    font-size: 1.7rem;
    padding: 0;
    border-width: 3px;
    border-style: solid;
    border-color: black;
}

.compose:hover {
    background-color: red;
    color: black;
    border-width: 6px;
    border-style: solid;
    border-color: black;
    font-weight: 600;
}

.instructions-block {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60%;
}

.material-food {
    padding: 0 0 0 0;
    position: relative;
    width: 100px;
    height: 100px;
    background-color: rgb(10, 99, 158, 0.5);
    background-size: cover;
    align-items: center;
    border: solid;
    border-color: black;
    border-width: 3.5px;
    font-size: 22px;
    font-weight: 600;
    color: black;
  
    margin-left: 1.5px;
    margin-right: 1.5px;

    background-repeat: no-repeat;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .material-food:hover {
    background-color: rgb(5, 5, 5);
    border-color: white;
    color: white;
  }
  
  .material-weapon {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: rgb(228, 51, 160, 0.5);
    background-size: cover;
    align-items: center;
    border: solid;
    border-color: black;
    border-width: 3.5px;
    font-size: 22px;
    font-weight: 600;
    color: black;

    margin-left: 1.5px;
    margin-right: 1.5px;
  
    background-repeat: no-repeat;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .material-weapon:hover {
    background-color: rgb(5, 5, 5);
    border-color: white;
    color: white;
  }

  /* ----------------------------------------------------- */

  .div-enter-world {
      width: 100%;
      height: 15%;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .enter-world {
    margin: 0 3rem 0 3rem;
    font-family: din-condensed, Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    width: 12rem;
    height: 5rem;
    font-size: 1.7rem;
    padding: 0;
    border-width: 2px;
    border-style: solid;
    border-color: white;
  }

  .enter-world:hover {
    background-color: rgb(61, 60, 60);
    color: white;
    border-width: 5px;
    border-style: solid;
    border-color: white;
  }