.crafting-screen {
    background-color: gray;
    padding: 3rem;
    border-style: solid;
    border-color: black;
    border-width: 8px;
    height: 100%;
}

.expressions-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.crafting-instructions {
    background-color: black;
    width: 100%;
}

.instruction-line {
    font-size: 1.4em;  
    color: white;
    padding: 1rem;
    width: 100%
}

.compose {
    margin: 0 3rem 0 3rem;
    font-family: din-condensed, Arial, Helvetica, sans-serif;
    background-color: red;
    color: black;
    width: 12rem;
    height: 5rem;
    font-size: 1.7rem;
    padding: 0;
    border-width: 3px;
    border-style: solid;
    border-color: black;
}

.compose:hover {
    background-color: red;
    color: black;
    border-width: 6px;
    border-style: solid;
    border-color: black;
    font-weight: 600;
}

.instructions-block {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
}

