@import url("https://use.typekit.net/mbh6xeh.css");

.crafting-screen {
    background-color: rgb(37, 37, 37);
    height: 100%;
    width: 100%;
}

.expressions-div {
    background-color: rgb(37, 37, 37);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%;
    margin-top: 50px;
}

.crafting-instructions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 20%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: black;
  word-wrap: break-word;
}


.compose {
    margin: 0 3rem 0 3rem;
    font-family: din-condensed, Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    width: 120px;
    height: 120px;
    font-size: 1.7rem;
    padding: 0;
    border-width: 3px;
    border-style: solid;
    border-color: rgb(209, 209, 209);
    background-size: cover;
    font-weight: 600;
    background-image: url('../../assets/hammer.png');
  }

.compose:hover {
    background-color: black;
    color: white;
    width: 120px;
    height: 120px;
    border-style: solid;
    border-color: white;
    font-weight: 600;
    border-width: 7px;
    background-image: url('../../assets/hammer.png');
    background-size: cover;
}

.instruction-line {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: auto;  
  color: white;
  padding: 0;
  margin: 0;
  height: 25%;
  width: 100%;
  font-family: din-condensed, Arial, Helvetica, sans-serif;
  word-wrap: break-word;
}

.material-food {
    padding: 0 0 0 0;
    position: relative;
    width: 100px;
    height: 100px;
    background-color: rgb(10, 99, 158, 0.5);
    background-size: cover;
    align-items: center;
    border: solid;
    border-color: black;
    border-width: 3.5px;
    font-size: 25px;
    font-weight: 600;
    color: black;
  
    margin-left: 1.5px;
    margin-right: 1.5px;

    background-repeat: no-repeat;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .material-food:hover {
    background-color: rgb(5, 5, 5);
    border-color: white;
    color: white;
  }
  
  .material-weapon {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: rgb(228, 51, 160, 0.5);
    background-size: cover;
    align-items: center;
    border: solid;
    border-color: black;
    border-width: 3.5px;
    font-size: 25px;
    font-weight: 600;
    color: black;

    margin-left: 1.5px;
    margin-right: 1.5px;
  
    background-repeat: no-repeat;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .material-weapon:hover {
    background-color: rgb(5, 5, 5);
    border-color: white;
    color: white;
  }

  /* ----------------------------------------------------- */

  .div-enter-world {
      width: 100%;
      height: 15%;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .enter-world {
    margin: 0 3rem 0 3rem;
    font-family: din-condensed, Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    width: 12rem;
    height: 5rem;
    font-size: 1.7rem;
    padding: 0;
    border-width: 3px;
    border-style: solid;
    border-color: rgb(51, 50, 50);
  }

  .enter-world:hover {
    background-color: rgb(61, 60, 60);
    color: white;
    border-width: 6px;
    border-style: solid;
    border-color: white;
  }